body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    
    font-size: 50px;
}
.name-color{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 150px;
    padding-left: 10%;
    
}
.half-wid{
    width: 70%;
}
.half-wid img {
    width: 70%;
}
.hire-me-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}
#left-p{
    width: 450px;
}